<div class="container-fluid">
    <h1 class="h1">off and from</h1>
    <hr>
    <div class="row">
        <div class="col-lg-3">
            <h2 class="h2">of Operator(String)</h2>
            <hr>
            <ul id="eleContainer"></ul>
        </div>
        <div class="col-lg-3">
            <h2 class="h2">of Operator(Object)</h2>
            <hr>
            <ul>
                <li>{{employes.a}}</li>
                <li>{{employes.b}}</li>
                <li>{{employes.c}}</li>
                <li>{{employes.d}}</li>
                <li>{{employes.e}}</li>
                <li>{{employes.f}}</li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h2>from operator(Array)</h2>
            <hr>
            <ul id="eleContainer2"></ul>
        </div>
        <div class="col-lg-3">
            <h2>from promise to observable</h2>
            <hr>
            <b>
                <ul id="eleContainer3"></ul>
            </b>
        </div>
    </div>
</div>