<div class="container-fluid">
    <h2 class="h2 mt-2">ConcatMap Operator</h2>
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <h3 class="text-center text-primary">Map</h3>
            <hr>
            <ul class="techList" id="container1"></ul>
        </div>
        <div class="col-lg-4">
            <h3 class="text-center text-primary">Map + concatAll</h3>
            <hr>
            <ul class="techList" id="container2"></ul>
        </div>
        <div class="col-lg-4">
            <h3 class="text-center text-primary">concatMap</h3>
            <hr>
            <ul class="techList" id="container3"></ul>
        </div>
    </div>
</div>