<div class="container-fluid">
    <h2 class="mt-2">Merege map Operator</h2>
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <h3>Map</h3>
            <hr>
            <ul class="techList" id="container1"></ul>
        </div>
        <div class="col-lg-4">
            <h3>Map + MergeAll</h3>
            <hr>
            <ul class="techList" id="container2"></ul>
        </div>
        <div class="col-lg-4">
            <h3>Mergemap</h3>
            <hr>
            <ul class="techList" id="container3"></ul>
        </div>
    </div>
</div>