<div class="container-fluid">
    <h2 class="text-success mt-2 mb-2">Rxjs Operators</h2>
    <div class="row">
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">FromEvent Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'fromEvent'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Interval & Timer Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'intervalAndTimer'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Off & from Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'off-From'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ToArray Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'toArray'">Click</a>
                </div>
            </div>
        </div>
    </div>
</div>