<div class="container-fluid">
    <h2 class="text-success text-center mt-3 mb-4">Rxjs Operators</h2>
    <div class="d-flex flex-wrap flex-row mx-5">
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">FromEvent Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'fromEvent'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Interval & Timer Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'intervalAndTimer'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Off & from Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'off-From'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ToArray Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'toArray'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Custome Observable</h5>
                    <a class="btn btn-primary" [routerLink]="'customeObs'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Map Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'mapOperator'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pluck Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'pluck'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Filter Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'filter'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tap or do Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'tap'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Take Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'take'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Retry Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'retry'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">DebounceTime and Distinct UntilChanged Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'debouncedistinctuntilchanged'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Replay Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'replayope'">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Async Operator</h5>
                    <a class="btn btn-primary" [routerLink]="'asyncOpe'">Click</a>
                </div>
            </div>
        </div>
    </div>
</div>