<div class="container-fluid">
    <h2 class="mt-2">Exhaust Map Operator</h2>
    <hr>
    <div class="row">
        <div class="mt-2">
            <h3 class="h3 text-success">Save Data</h3>
            <hr>
            <div class="mt-2">
                <button type="button" class="btn btn-lg btn-secondary" #btnSend>Send Request</button>
            </div>
            <!-- <div class="mt-2 mx-2">
                <p>Send Request : <span class="text-danger fw-bold">{{num}}</span></p>
            </div> -->
        </div>
    </div>
</div>