<div class="container-fluid bg-light">
    <h1 class="text-danger text-center fw-bold mt-1">List Of Products</h1>
    <div class="d-flex flex-wrap flex-row mx-5">
        <div class="px-3 py-2" *ngFor="let product of products;let i=index">
            <div class="card h-100" style="width: 20rem;">
                <img class="card-img-top p-4 h-75" [src]="product.images[0]" alt="Card image cap">
                <div class="card-body">
                    <h4 class="h4 extra">{{product.brand}}</h4>
                    <h5 class="card-title">{{product.category}}</h5>
                    <p class="card-text">{{product.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="fw-bold">Price</span> : <span class="text-danger">
                            &#8377;{{product.price}}</span></li>
                    <li class="list-group-item"><span class="fw-bold">Discount</span> : <span class="text-danger">
                            {{product.discountPercentage
                            }}
                            &#37;</span></li>
                    <li class="list-group-item"><span class="fw-bold">Rating</span> : <span
                            class="text-danger">{{product.rating}} &#37; </span></li>
                </ul>
                <a type="button" class="btn btn-md btn-primary w-25 p-2 m-2" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" (click)="sendId(product.id)">
                    <i class="fa-solid fa-cart-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>