<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="h1 mt-2">Date Pipes</h1>
            <p>Today is {{today | date}}</p>
            <p>Today is {{today | date:"short"}}</p>
            <p>Today is {{today | date:"medium"}}</p>
            <p>Today is {{today | date:"long"}}</p>
            <p>Today is {{today | date:"full"}}</p>
            <p>Today is {{today | date:"shortDate"}}</p>
            <p class="text-danger fw-bold">Today is {{today | date:'dd-MM-yyyy'}}</p>
            <p>Today is {{today | date:"mediumDate"}}</p>
            <p>Today is {{today | date:"longDate"}}</p>
            <p>Today is {{today | date:"fullDate"}}</p>
            <p>Today is {{today | date:"shortTime"}}</p>
            <p>Today is {{today | date:"mediumTime"}}</p>
            <p>Today is {{today | date:"longTime"}}</p>
            <p>Today is {{today | date:"fullTime"}}</p>
        </div>
        <div class="col-lg-3">
            <h1 class="h1 mt-2">CasePipe</h1>
            <h5 class="h5 text-danger">UpperCasePipe</h5>
            <p>{{'My name is vishal'| uppercase}}</p>
            <h5 class="h5 text-danger">LowerCasePipe</h5>
            <p>{{'My name is vishal'| lowercase}}</p>
            <h5 class="h5 text-danger">TitleCasePipe</h5>
            <p>{{'My name is vishal'| titlecase}}</p>
            <h1>Custom Pipe</h1>
            <form action="">
                <div class="col-lg-6">
                    <label for="" class="form-label">Faherenheit : {{faherenheit | custome:'C'}}</label>
                    <input type="text" class="form-control form-control-lg" name="faherenheit" [(ngModel)]="faherenheit"
                        placeholder="F to C">
                </div>
                <div class="col-lg-6 mt-2 ">
                    <label for="" class="form-label">Celsius : {{celsius | custome:'F'}}</label>
                    <input type="text" class="form-control form-control-lg" name="celsius" [(ngModel)]="celsius"
                        placeholder="C to F">
                </div>
                <div class="mt-2">
                    <input type="text" name="search" [(ngModel)]="search" class="form-control form-control-lg"
                        placeholder="Enter string" id="maxLen">
                    <div class="mx-2 my-2">
                        {{search | maxLength:5}}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-2">
            <h1 class="h1 mt-2">Currancy</h1>
            <p class="text-danger">{{rupees| currency : 'INR':'symbol'}}</p>
            <!-- <p class="text-success">{{rupees| currency : 'INR':'code'}}</p> -->
            <!-- <p class="text-primary">{{rupees| currency:'CAD':'symbol'}}</p> -->
            <p class="text-success">{{rupees| currency : 'USD':'symbol'}}</p>
            <p class="text-danger">{{rupees| currency : 'EUR':'symbol'}}</p>
        </div>
        <div class="col-lg-2">
            <h1 class="h1 mt-2">DecimalPipe</h1>
            <p class="text-primary">{{decimalValue | number:'1.1-6'}}</p>
            <p class="text-danger">{{decimalValue | number:'3.1-3'}}</p>
            <p class="text-success">{{decimalValue | number:'1.1-2'}}</p>
            <p class="text-success">{{decimalValue | number:'1.0-0'}}</p>
        </div>
        <div class="col-lg-2">
            <h1 class="h1 mt-2">PercentagePipe</h1>
            <p class="text-primary">{{anyNum | percent:'1.1-1'}}</p>
        </div>
    </div>
</div>