<div class="container-fluid">
    <h2>Map Operator</h2>
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <h3>Map Operator Uses</h3>
            <hr>
            <p>Video : {{msg2}}</p>
        </div>
        <div class="col-lg-4">
            <h3>Map Operator Uses</h3>
            <hr>
            <p>Video : {{msg2}}</p>
        </div>
        <div class="col-lg-4">
            <h2>Map Operatot Object</h2>
            <hr>
            <b>
                <ul id="eleContainer"></ul>
            </b>
        </div>
    </div>
</div>