<div class="container-fluid">
    <h2 class="h2 mt-2">Take, TakeLast, TakeUntil Operator</h2>
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <h3 class="h3 text-center text-success">Take operator</h3>
            <hr>
            <ul class="techList" id="containerStudents"></ul>
        </div>
        <div class="col-lg-4">
            <h3 class="h3 text-center text-success">TakeLast operator</h3>
            <hr>
            <ul class="techList" id="containerStudents2"></ul>
        </div>
        <div class="col-lg-4">
            <h3 class="h3 text-center text-success">TakeUntil operator(Condition)</h3>
            <hr>
            <ul class="techList" id="containerStudents3"></ul>
        </div>
    </div>
</div>