<div class="container-fluid">
  <div class="row mt-2">
    <h1>FormEvent Operator</h1>
    <hr />
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-success">Add New Videos</h5>
          <a class="btn btn-primary" #btnAdd>Click</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h3 class="h3 text-success">1-Videos List</h3>
          <ul id="eleContainer"></ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h3 class="h3 text-success">2-Videos List</h3>
          <ul id="eleContainer2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
