<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="mt-2 text-center">Concat Operator</h2>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <h4 class="text-center text-success">Chanel-1</h4>
                    <hr>
                    <ul>
                        <li>chanel_1 : Video 1</li>
                        <li>chanel_1 : Video 2</li>
                        <li>chanel_1 : Video 3</li>
                        <li>chanel_1 : Video 4</li>
                        <li>chanel_1 : Video 5</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 class="text-center text-success">Chanel-2</h4>
                    <hr>
                    <ul>
                        <li>chanel_2 : Video 1</li>
                        <li>chanel_2 : Video 2</li>
                        <li>chanel_2 : Video 3</li>
                        <li>chanel_2 : Video 4</li>
                        <li>chanel_2 : Video 5</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 class="text-center text-success">Chanel-3</h4>
                    <hr>
                    <ul>
                        <li>chanel_3 : Video 1</li>
                        <li>chanel_3 : Video 2</li>
                        <li>chanel_3 : Video 3</li>
                        <li>chanel_3 : Video 4</li>
                        <li>chanel_3 : Video 5</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center mt-2">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header fw-bold">Your Chanels</div>
                        <div class="card-body">
                            <ul class="techList" id="container1"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="mt-2 text-center">Merge Operator</h2>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <h4 class="text-center text-success">Chanel-1</h4>
                    <hr>
                    <ul>
                        <li>chanel_1 : Video 1</li>
                        <li>chanel_1 : Video 2</li>
                        <li>chanel_1 : Video 3</li>
                        <li>chanel_1 : Video 4</li>
                        <li>chanel_1 : Video 5</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 class="text-center text-success">Chanel-2</h4>
                    <hr>
                    <ul>
                        <li>chanel_2 : Video 1</li>
                        <li>chanel_2 : Video 2</li>
                        <li>chanel_2 : Video 3</li>
                        <li>chanel_2 : Video 4</li>
                        <li>chanel_2 : Video 5</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 class="text-center text-success">Chanel-3</h4>
                    <hr>
                    <ul>
                        <li>chanel_3 : Video 1</li>
                        <li>chanel_3 : Video 2</li>
                        <li>chanel_3 : Video 3</li>
                        <li>chanel_3 : Video 4</li>
                        <li>chanel_3 : Video 5</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center mt-2">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header fw-bold">Your Chanels</div>
                        <div class="card-body">
                            <ul class="techList" id="container2"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>